NEXT_PUBLIC_SUPABASE_URL="https://your-project-id.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
DATABASE_URL="postgres://postgres.xxx:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"

# Gunakan Upstash Redis URL di sini
REDIS_URL="rediss://default:your-password@your-upstash-endpoint.upstash.io:6379"

# AI Key (NVIDIA NIM)
NVIDIA_API_KEY="nvapi-..."
